@{ 
    ViewData["Title"] = "Brittany Rausch Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome</h1>
<hr />
<h3>@Html.ActionLink("Projects", "Projects")</h3>
<h3>@Html.ActionLink("About", "About")</h3>
