@{ 
    ViewData["Title"] = "Brittany Rausch Projects Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Portfolio.Net.Models.Starred>

<h2>Top Starred Github Repositories</h2>
<hr />



    @foreach (var repo in Model.Take(3))
    {

                <p>Name: <a href="@repo.Html_url">@Html.DisplayFor(modelItem => repo.Name)</a></p>
                <p>Starred Count: @Html.DisplayFor(modelItem => repo.Stargazers_count)</p>

        <hr />
    }

